.bg-main-custom {
  background-color: #f8f9fa;
}

.custom-header {
  background-color: #D3A280;
}

.wrapper-conteudo {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 320px);
  height: 100vh;
  min-width: 0;
}

.form-container {
  width: 100%;
}
