<header class="header">
    <h1 class="header_title">Caminho do Nutrir</h1>
    <nav class="header_nav">
        <ul class="header_nav_list">
            <li class="header_nav_list--item"><a href="/" class="header_nav_list--link">Inicio</a></li>
            <li class="header_nav_list--item"><a href="/#sobre" class="header_nav_list--link">Sobre</a></li>
            <li class="header_nav_list--item"><a href="/#doacao" class="header_nav_list--link">Doação</a></li>
            <li class="header_nav_list--item"><a href="painel" class="header_nav_list--link">Painel</a></li>
            <li class="header_nav_list--item"><a href="mapa" class="header_nav_list--link">Mapa</a></li>
        </ul>
    </nav>
</header>
