<footer class="footer_main">
    <div class="container">
        <img src="images/logo_rural.png" alt="" class="ufrrj">
        <img src="images/uerj-logo.png" alt="" class="uerj">
    </div>
    <div class="container">
        <a href="" class="footerlink"><img src="images/instagram-branco.png" alt="" class="instagram"></a>
        <a href="" class="footerlink"><img src="images/facebook-branco.png" alt="" class="facebook"></a>
        <a href="" class="footerlink"><img src="images/web-branco.png" alt="" class="web"></a>
    </div>
</footer>
