.footer__secundario {
    display: none !important; /* Isso esconde o elemento completamente */
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #CF9F3E;
}

/* Você pode manter as logos aqui, elas também não aparecerão */
.logo_rural, .logo_uerj {
    display: none;
}