<div #meuModal class="modal fade" id="recuperarSenhaModal" tabindex="-1" role="dialog"
  aria-labelledby="recuperarSenhaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title fw-bold text-dark" id="recuperarSenhaModalLabel">Recuperar Senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          style="border: none; background: transparent;" (click)="fecharModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form">

          <div class="row g-3">

            <div class="col-12 col-md-6">
              <label for="recuperar-usuario" class="form-label fw-bold text-dark">Usuário</label>
              <input type="text" class="form-control py-2" id="recuperar-usuario" formControlName="usuario"
                placeholder="Digite seu usuário" [ngClass]="{'is-invalid': campoInvalido('usuario')}">

              <div class="text-danger small mt-1" *ngIf="campoInvalido('usuario')">
                O usuário é obrigatório.
              </div>
            </div>

            <div class="col-12 col-md-6">
              <label for="recuperar-matricula" class="form-label fw-bold text-dark">Matrícula</label>
              <input type="text" class="form-control py-2" id="recuperar-matricula" formControlName="matricula"
                placeholder="Digite sua matrícula" [ngClass]="{'is-invalid': campoInvalido('matricula')}">

              <div class="text-danger small mt-1" *ngIf="campoInvalido('usuario')">
                O usuário é obrigatório.
              </div>
            </div>

            <div class="col-12">
              <label for="recuperar-email" class="form-label fw-bold text-dark">E-mail</label>
              <input type="email" class="form-control py-2" id="recuperar-email" formControlName="email"
                placeholder="Digite seu email" [ngClass]="{'is-invalid': campoInvalido('email')}">

              <div class="text-danger small mt-1" *ngIf="campoInvalido('usuario')">
                O usuário é obrigatório.
              </div>
            </div>

            <div class="col-12 col-md-6">
              <label class="form-label fw-bold text-dark">Nova Senha</label>
              <div class="position-relative">
                <input [type]="showPassword ? 'text' : 'password'" class="form-control py-2 pe-5"
                  formControlName="senha" placeholder="Digite a nova senha"
                  [ngClass]="{'__invalid': campoInvalido('senha')}">

                <span class="position-absolute top-50 end-0 translate-middle-y me-3"
                  style="cursor: pointer; color: #6c757d; z-index: 10;" (click)="showPassword = !showPassword">
                  <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    fill="currentColor" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path
                      d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                  </svg>
                  <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    fill="currentColor" viewBox="0 0 16 16">
                    <path
                      d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                    <path
                      d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                    <path
                      d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
                  </svg>
                </span>
              </div>
              <div class="text-danger small mt-1" *ngIf="campoInvalido('senha')">A senha é obrigatória.</div>
            </div>

            <div class="col-12 col-md-6">
              <label class="form-label fw-bold text-dark">Confirmar Senha</label>
              <div class="position-relative">
                <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control py-2 pe-5"
                  formControlName="confirmaSenha" placeholder="Confirme a nova senha"
                  [ngClass]="{'__invalid': campoInvalido('confirmaSenha')}">

                <span class="position-absolute top-50 end-0 translate-middle-y me-3"
                  style="cursor: pointer; color: #6c757d; z-index: 10;"
                  (click)="showConfirmPassword = !showConfirmPassword">
                  <svg *ngIf="showConfirmPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    fill="currentColor" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path
                      d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                  </svg>
                  <svg *ngIf="!showConfirmPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    fill="currentColor" viewBox="0 0 16 16">
                    <path
                      d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                    <path
                      d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                    <path
                      d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
                  </svg>
                </span>
              </div>
              <div class="text-danger small mt-1" *ngIf="campoInvalido('confirmaSenha')">A confirmação é obrigatória.
              </div>
            </div>

          </div>

        </form>
      </div>

      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="fecharModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="enviarRecuperacao()">Redefinir Senha</button>
      </div>

    </div>
  </div>
</div>
