.wrapper-mapa app-mapa-leaflet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.header-secundario {
  background-color: #CF9F3E;
  position: relative;
  z-index: 1050;
  flex-shrink: 0;
  width: 100%;
}

.header-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--menu-lateral);
}
