.table-custom-header {
  --bs-table-bg: var(--primary-color-text);
  --bs-table-color: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 2;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
