html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f8f9fa;
}

.wrapper-conteudo {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  width: calc(100vw - 320px);
  min-width: 0;

  height: 100vh;
  overflow: hidden;
}

.bg-header-custom {
  background-color: var(--header-background-painel);
  color: var(--header-text-color);
  height: 85px;
  flex-shrink: 0;
}

.main-container {
  height: calc(100vh - 85px);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
