<nav class="menu">
    <!-- Novo rótulo para organizar o menu -->
    <div class="menu__secao">
        <p class="menu__secao--texto">Sistema de Gestão</p>
    </div>
    
    <ul class="menu__lista">
        <!-- O item Painel agora virá abaixo do rótulo e do título externo -->
        <li class="menu__lista--item">
            <a href="painel" class="menu__lista--link">Início</a>
        </li>
        <li class="menu__lista--item">
            <a href="painel/cadastrar-banco" class="menu__lista--link"> Painel de Cadastro</a>
        </li>
        <li class="menu__lista--item">
            <a href="painel/liberar-usuario" class="menu__lista--link">Liberar Usuário</a>
        </li>
        <li class="menu__lista--item">
            <a href="mapa" class="menu__lista--link">Mapa</a>
        </li>
    </ul>
</nav>