.painel{
    padding: 1rem;
}

.container--form{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    width: 70%;
    justify-content: space-between;
}

.painel__title{
    font-size: 20px;
    font-weight: 400;
}

.painel__form--container{
    display: flex;
    align-items: center;
}

.input-form{
    padding: .25rem .5rem;
    width: 20vw;
    border-radius: 4px;
    border: none;
}

.btn__form{
    padding: .2rem .5rem;
    width: 6rem;
    margin-left: 1.5rem;
}

.tabela{
    width: 100%; 
    border-collapse: collapse;
}

.thead__tabela{
    background-color: #AA9CAC;
    color: #fff;
    display: table-row;
}

.col1, .col2, .col3 {
    border-bottom: 1px solid #ccc;
}
.col1{
    width: 30vw;
    text-align: left;
    padding: .25rem 0 .25rem 1.5rem;
}

.col2{
    width: 20vw;
    text-align: left;
}

.col3{
    min-width: 5vw;
    text-align: center;
}


.row{
    font-weight: 400;
}

.btn__editar{
    background-image: url(/images/editar.png);
}

.btn__excluir{
    background-image: url(/images/excluir.png);
}

.btn_acao{
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat; /* Adicionar para garantir que o ícone não se repita */
    border: none;
    background-color: transparent;
    margin: .5rem;
    /* Ajuste de alinhamento */
    vertical-align: middle;
}

.btn_acao:hover{
    cursor: pointer;
}