html,
body {
  height: 100vh;
  width: calc(100vw - 320px);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bg-header-custom {
  background-color: var(--header-background-painel);
  color: var(--header-text-color);
  height: 85px;
}

.table-custom-header {
  background-color: var(--primary-color-text);
  color: #FFFFFF;
}

.main-workspace {
  flex-grow: 1;
  overflow: hidden;
}

.border-custom-container {
  flex-grow: 1;
  overflow-y: auto;
}
